@font-face {
    font-family: "jellee";
    src: url("./Jellee-Bold.woff2") format("woff2"),
        url("./Jellee-Bold.woff") format("woff");
}

:root {
    --green: rgb(115, 141, 89);
    --brown: rgb(92, 62, 33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brown);
}

body {
    height: 100vh;
    min-width: 1200px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--green);
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
}

h1 {
    font-family: "jellee", sans-serif;
    color: white;
}

button {
    padding: 30px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

button:hover {
    font-weight: bold;
}

#content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.homeContent {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
    overflow: hidden;
}

.desc {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate((-50%, -50%));
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
}

.drinks {
    padding: 30px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.price {
    justify-self: flex-end;
    align-self: center;
    grid-row: 1 / 3;
    grid-column: 2;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.sections * {
    padding: 20px;
}

button:hover {
    cursor: pointer;
}