@font-face {
    font-family: "jellee";
    src: url("./fonts/Jellee-Bold.woff2") format("woff2"),
        url("./fonts/Jellee-Bold.woff") format("woff");
}

:root {
    --green: rgb(115, 141, 89);
    --lightgreen: rgb(217, 227, 205);
    --brown: rgb(92, 62, 33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brown);
}

body {
    height: 100vh;
    min-width: 1200px;
    display: grid;
    grid-template-rows: 100px 1fr;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--green);
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
}

h1 {
    font-family: "jellee", sans-serif;
    color: white;
}

.nav-button {
    padding: 30px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

.menu-div {
    position: relative;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 100%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background-color: var(--green);
    z-index: 1;
}

.dropdown button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 14px;
    font-size: 16px;
}

.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* home */
.homeContent {
    width: 100%;
}

/* image carousel */
.frame {
    width: 100vw;
    height: 1000px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: grid;
    z-index: 1;
}

.slideshow {
    position: absolute;
    display: flex;
    width: max-content;
    height: 1000px;
    white-space: nowrap;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.slides {
    height: 1300px;
    transform: translateY(-10%);
    overflow: hidden;
}

.arrows-div {
    position: absolute;
    top: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrows-div button {
    border: none;
    background-color: transparent;
}

.arrows {
    width: 40px;
    height: 40px;
    margin: 50px;
    z-index: 2;
}

.dots-div {
    display: flex;
    justify-self: center;
    position: absolute;
    bottom: 30px;
}

.dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 6px;
}

/* menu */
.menu-info {
    margin-top: 80px;
    width: 600px;
    padding: 30px;
    font-style: italic;
    text-align: center;
}

.cafes {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header {
    margin-top: 80px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--brown);
}

.desc {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate((-50%, -50%));
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
}

.drinks {
    padding: 30px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.price {
    justify-self: flex-end;
    align-self: center;
    grid-row: 1 / 3;
    grid-column: 2;
}

.flavors,
.ice-price {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.ice-price {
    justify-content: space-around;
}

/* contact */
.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.sections * {
    padding: 20px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
    background-color: var(--lightgreen);
}

footer img {
    width: 30px;
    height: 30px;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}